/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

.section-title {
    margin: 0;
    font-size: 1.3rem;
}

a {
    color: black;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

h1, h2 {
    font-size: 1.3rem;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
header img {
    height: 20px;
    margin-top: 10px;
}
header ul {
    display: flex;
    margin: 0;
}
header li {
    margin-left: 50px;
    padding-top: 20px;
    height: 100%;
}
header li a:hover {
    border-top: solid 2px var(--main-color);
    padding-top: 19px;
    color: var(--main-color);
}

/****** Presentation Part ***********/
h1 {
    margin-bottom: 10px;
}
h1 + p  {
    margin: 0 0 30px 0;
}

.form__container {
    display: flex;
    height: 45px;
    font-size: 1.3rem;
}
.search-icon {
    background-color: var(--main-bg-color);
    height: 100%;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}
.search-icon .fa-solid {
    color: black;
}
form input[type=text] {
    height: 100%;
    padding: 12px;
    border: solid 1px var(--main-bg-color);
    border-left: none;
    border-right: none;
    font-weight: bold;
}
form input[type=text]:focus {
    outline: none;
    border: solid 2px var(--main-bg-color);
    border-left: none;
    border-right: none;
}
form input[type=text], form button {
    font-size: 1rem;
}
::placeholder {
    color: black;
}
form button {
    background-color: var(--main-color);
    border: solid 2px var(--main-color);
}
.fa-magnifying-glass, form button {
    color: white;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    padding: 10px;
}
form button:hover {
    cursor: pointer;
    background-color: white;
    color: var(--main-color);
}
form button:hover > .fa-magnifying-glass {
    color: var(--main-color);
}
.btn-mobile {
    justify-content: center;
    align-items: center;
    width: 45px;
    border-radius: 10px;
    margin-left: -10px;
    display: none;
}

/****** Filters ***********/
h2.small {
    font-size: 1rem;
    margin-top: 30px;
}
.filters {
    display: flex;
    flex-wrap: wrap;
}
.filters__btn {
    display: flex;
    align-items: center;
    border: solid 2px var(--main-bg-color);
    border-radius: 30px;
    padding: 12px;
    margin: 0 20px 20px 0;
}
.filters__btn p {
    margin: 0 0 0 10px;
    font-weight: bold;
}
.filters__btn:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}
.filters__btn .fa-person {
    font-size: 1.2rem;
}

.info {
    display: flex;
    margin: 10px 0 30px 0;
}
.info .fa-solid {
    font-size: 0.9rem;
    border: solid 1px var(--main-bg-color);
    border-radius: 30px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info p {
    margin: 0 0 0 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 15px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}
.hebergements__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hebergements__wrapper a {
    width: 31%;
    margin-bottom: 30px;
}
#hebergements .card img {
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0 0;
}
#hebergements .card-content {
    padding: 5px;
}
#hebergements .card h3, #hebergements .card p {
    margin: 5px 0;
}
.hebergements__wrapper + a {
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
.activities__wrapper {
    display: flex;
    justify-content: space-between;
}
.activities__wrapper a {
    width: 24%;
}
.activities__wrapper .card {
    padding: 0;
}
.activities__wrapper .card-content {
    padding: 15px;
    height: 67px;
}
.activities__wrapper h3 {
    margin: 0;
}
.activities__wrapper img {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0 0;
}

/****** Footer ***********/
footer {
    background-color: var(--main-bg-color);
    margin-top: 50px;
}
footer nav {
    display: flex;
    justify-content: space-between;
}
footer ul {
    width: 33%;
}
footer span {
    font-weight: bold;
}
footer li {
    margin-bottom: 10px;
}


/****** Media queries ***********/
/* Tablet */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }
    .hebergements__wrapper .card-content {
        height: 99.5px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Mobile */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    header {
        flex-direction: column;
        padding-top: 30px;
    }
    header nav {
        width: 100%;
    }
    header ul {
        padding: 0;
    }
    header li {
        margin: 0;
        width: 50%;
        text-align: center;
        border-bottom: solid 2px var(--main-bg-color);
        padding: 30px 0 20px 0;
    }
    header li a:hover {
        border: none;
    }
    header li:hover {
        border-bottom: solid 2px var(--main-color);
        border-top-color: transparent;
        padding-bottom: 18px;
    }
    header li:hover > a {
        color: var(--main-color);
    }

    .container {
        padding: 0 30px;
    }

    .btn-desktop {
        display: none;
    }
    .btn-mobile {
        display: flex;
    }
    form input[type=text] {
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section {
        border-radius: 0;
    }
    .hebergements-and-populaires section:not(.populaires) {
        background-color: transparent;
    }
    .populaires {
        margin-top: 0;
    }
    .populaires-cards, .hebergements__wrapper, .activities__wrapper {
        flex-direction: column;
    }
    .populaires-cards a, .hebergements__wrapper a, .activities__wrapper a {
        width: 100%;
    }
    .activities__wrapper a {
        height: 225px;
    }
    .hebergements__wrapper a, .activities__wrapper a {
        margin-bottom: 15px;
    }
    .activities__wrapper img {
        height: 170px;
    }

    footer nav {
        flex-direction: column;
    }
    footer ul {
        width: 100%;
    }
}